asyncclick>=8.1.8
asyncio>=3.4.3
click>=8.1.8
httpx>=0.28.1
httpx-sse>=0.4.0
langgraph>=0.3.18
pydantic==2.11.3
sse-starlette>=2.2.1
starlette>=0.46.1
streamlit>=1.44.0
uvicorn>=0.34.0
python-dotenv==1.0.0
torch==2.0.1
jwcrypto>=1.5.6
pyjwt>=2.10.1
injector==0.22.0
networkx==3.1
lanchain==0.2.43